/* Assuming your styles for larger screens are in chart.css */

/* Additional styles for smaller screens */
@media (max-width: 768px) {
    .donut-chart-container {
      /* Adjust styles for smaller screens */
      width: 100%;
      max-width: 300px; /* Set a maximum width if needed */
      margin: 0 auto; /* Center the chart */
    }
  }

  .chart-inner-text {
    position: absolute; top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 40%; text-align: center;
    font-size: 13px;
    }
    .chart-inner-value {
    font-weight: bold; font-style: normal;
    font-stretch: normal;
    line-height: normal;
     letter-spacing: normal;
    color: #5c596d;
    font-size: 15px;
    padding-bottom: 5px;
    }
  