/* 
.rounded {
    border-radius: 50%;
  }
  
  .shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
   */

   .bg-green {
    background-color: rgb(123, 193, 123);
  }
  
  .logo-container {
    width: 50px; /* Adjust the size as needed */
    height: 70px; /* Adjust the size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
  }


 .first {
    background: lightgreen;
    color: green;
    width: 70px;
    height: 70px;
    align-items: center;
    border-radius: 50%;
  }
  .logo{
    font-size: 35px;
  }
  .Second{
    background: rgb(192, 225, 245);
    color: blueviolet;
    width: 70px;
    height: 70px;
    align-items: center;
    border-radius: 50%;
  }
  .logo1{
    font-size: 35px;
  }
  .Third{
    background: skyblue;
    color: blue;
    width: 70px;
    height: 70px;
    align-items: center;
    border-radius: 50%;
  }
  .logo2{
    font-size: 35px;
  }

  .Four{
    background: pink;
    color: red;
    width: 70px;
    height: 70px;
    align-items: center;
    border-radius: 50%;
  }
  .logo3{
    font-size: 35px;
  }
 /* .d{
    color: green;
    font-weight: bold;

 }
 .e{
    color: black;
    margin-left: 5em;
    margin-top: -1.5em;
 } */
  
 .setSearch1{
    /* background-color: lightgray; */
    border-radius: 10px;
    height: 28px;
 }

 .setSearch1 input{
    border: none;
    outline: none;
    /* background-color: lightgrey; */
    height: 100%;
    width: 90px;
    font-size: medium;
 }

 /* .ProductSell1{
    margin-left: -9em;
 }

 .stock{
margin-left: 20em;
 } */

 .price{

 }

 .slaes{

 }